fondopaginaweb{   /*color del fondo de la pagina web*/
    color: darkseagreen;
}

fondoabout{  /*color de la parte final de la pagina web*/
    color: dimgrey;
}

titulos { /*color, tamaño y alineacion de los titulos de la pagina web*/
    color: black;
    font-size: xx-large;
    text-align: left;
}

texto{ /*color, tamaño y alineacion de los parrafos de la pagina web*/
    color: black;
    font-size: large;
    text-align: center;
}

tituloestilo { /* tipo de letra del titulo*/
    font-family: Arial Black;
}

textoestilo { /* tipo de letra de los parrafos*/
    font-family: Arial;
}

fondocolorbotones{
    color: forestgreen;
}

letrabotones { /* tipo de letra de los botones*/
    font-family: Arial;
}
textobotones { /*color, tamaño y alineacion de los botones*/
    color: black;
    font-size: large;
    text-align: center;
}
