@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

body{
    margin: 0em;
    background-color: white;
}

header{
    margin: 0em;
    background-color: white;

}

section{
    min-height: 100vh;
    padding-top: 4.7rem;
    padding-bottom: 2rem;
}

.cover{
    height: 950px;
    background-image: url("assets/images/fondohome.png");
    color: black;
    background-size: 1920px;
    background-position: top;
    background-color: white;

}

.cover-small{
    height:420px;
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, 0 2px 4px -1px rgba(0,0,0,0.06);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.btn{
    border-radius:10px;
    overflow: hidden;
    border-style: none;
}

.inicio h2{
    font-size: 2rem;
    line-height: 1;
}

.inicio h2 span{
    color:green;
}

.producto h1{
    font-size: 3rem;
}

.producto{
    height: 950px;
    background-image: url("assets/images/fondoprueba.png");
    background-size: 1910px;
    background-position: top;
    background-color: white;
}

.funciona{
    height: 950px;
    background-size: 1950px;
    background-position: top;
    background-color: white;
}

.card-title{
    min-height: 3rem;
}
.card-text{
    min-height: 10rem;
}

.btn:hover {
    transform: scale(1.05);
    color: #fff;
}


