@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
}

body{
    margin: 0em;
    background-color: white;
}

header{
    margin: 0em;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);

}

section{
    min-height: 100vh;
    padding-top: 4.7rem;
    padding-bottom: 2rem;
}

.cover{
    height: 950px;
    background-image: url("../images/fondohome.png");
    color: black;
    background-size: 1920px;
    background-position: top;
    background-color: white;

}

.cover-small2{
    height:100px;
    background-size: contain;
    background-position: center;
    background-blend-mode: normal;
    background-repeat: no-repeat;
}

.cover-small1{
    height:400px;
    background-size: cover;
    background-position: center;
    background-blend-mode: normal;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px, 0 2px 4px -1px rgba(0,0,0,0.06);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.btn{
    border-radius:10px;
    overflow: hidden;
    border-style: none;
}

.funciona .container .video-product iframe{
    border-radius:10px;
}



.inicio h2{
    font-size: 2rem;
    line-height: 1;
}

.inicio h2 span{
    color:green;
}

.funciona p{
    color:green;
    line-height: 30px;
}

.producto h1{
    font-size: 3rem;
}

.producto{
    height: 950px;
    background-image: url("../images/fondoprueba.png");
    background-size: 1910px;
    background-position: top;
    background-color: white;
}

.funciona{
    height: 950px;
    background-size: 1950px;
    background-position: top;
    background-color: white;
}

.card-title{
    min-height: 3rem;
}
.card-text{
    min-height: 10rem;
}

.btn:hover {
    transform: scale(1.05);
    color: #fff;
}

.consulta
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.consulta .container{

    position: relative;
    min-width: 1100px;
    min-height:650px ;
    display: flex;
    z-index: 1000;

}
.consulta .container .contactInfo
{
    position: absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background: #1E8F59;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 20px 25px rgba(0,0,0,0.15);

}
.consulta .container .contactInfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
.consulta .container .contactInfo ul.info{
    position:relative;
    margin:20px 0;

}
.consulta .container .contactInfo ul.info li
{
    position: relative;
    list-style: none;
    display: flex;
    margin:20px 0 ;
    cursor: pointer;
    align-items: flex-start;
}

.consulta .container .contactInfo ul.info li span:nth-child(1)
{
    width: 30px;
    min-width: 30px;
}

.consulta .container .contactInfo ul.info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
}

.consulta .container .contactInfo ul.info li span:nth-child(2)
{
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
}

.consulta .container .contactInfo ul.iconos
{
    position: relative;
    display: flex;

}
.consulta .container .contactInfo ul.iconos li{
    list-style: none;
    margin-right: 15px;
}

.consulta .container .contactInfo ul.iconos li a
{
    text-decoration: none;
}

.consulta .container .contactInfo ul.iconos li a img
{
    filter: invert(1);
}

.consulta .container .contactForm{
    position: absolute;
    padding: 70px 50px;
    padding-left: 250px;
    margin-left: 150px;
    width: calc(100% - 150px);
    height:100% ;
    background: #fff;
    box-shadow: 0 50px 50px rgba(0,0,0,0.25);

}
.consulta .container .contactForm h2{
    color: #1E8F59;
    font-size: 24px;
    font-weight: 500;
}
.consulta .container .contactForm .formBox{

    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
.consulta .container .contactForm .formBox .inputBox{
    position: relative;
    margin-bottom: 35px;

}
.consulta .container .contactForm .formBox .inputBox.w50
{
    width: 47%;
}

.consulta .container .contactForm .formBox .inputBox input
{
    width: 100%;
    resize: none;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    outline: none;
    border-bottom: 1px solid #777;

}
.consulta .container .contactForm .formBox .inputBox textarea
{
    height: 100px;
    width: 877px;
    border: none;
}
.consulta .container .contactForm .formBox .inputBox span
{
    color: #333;
    position: absolute;
    left: 0;
    padding: 5px 0;
    pointer-events: none;
    font-size: 18px;
    font-weight: 300;
    transition: 0.3s;
}

.consulta  .container .contactForm .formBox .inputBox input:focus ~ span,
.consulta  .container .contactForm .formBox .inputBox input:valid ~ span,
.consulta  .container .contactForm .formBox .inputBox textarea:focus ~ span,
.consulta  .container .contactForm .formBox .inputBox textarea:valid ~ span
{
    transform: translateY(-20px);
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #1E8F59;
    font-weight: 500;
}

.consulta .container .contactForm .formBox .inputBox input[type="submit"]
{
    width: 200px;
    position: relative;
    cursor: pointer;
    background: #1E8F59;
    color: #BCEFB3;
    border: none;
    max-width: 150px;
    padding: 12px;
}
.consulta .container .contactForm .formBox .inputBox input[type="submit"]:hover{
    background: #BCEFB3;
    color: #1E8F59;
}

.TituloPremium{

    text-decoration: underline;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 43px;
}

.containerPago{
    margin: 0 auto;
    width: 700px;

}

.premium{
    padding-top: 2rem;
    min-height: 100vh;
    padding-bottom: 2rem;
}

text-center{

    align-content: center;
}

.columnaPago{

    background:white;
    color:black;
    border: 2px solid green;
    margin: 10px;
    padding:10px;
    border-radius: 40px;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%)
}

.precio{

    font-size: 40px;
    color: green;

}

.btn-precio{

    background: rgba(8,39,66,3);
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 15px;
    margin-bottom: 15px;
    font-size: 30px;


}

.btn-precio:hover{

    background: green;
    color: white;

}

.styleBeneficios{
    font-size: 30px;
    font-weight: bold;

}


